{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <title>{{event.name}}</title>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/css/uikit.min.css"/>
            <link rel="stylesheet" href="{% static 'style.css' %}">

    </head>

    <body>
        <header style="width: 95%; max-width: 2000px margin: 0 auto">
            <div class="uk-container uk-container-expand" style="margin-top: 20px!important">

                <div class="uk-grid uk-grid-small uk-flex uk-flex-middle" uk-grid="uk-grid">

                    {% if main.logo %}
                    <div class="uk-width-auto">
                        <a class="uk-link-reset" href="/"> <img class="uk-logo" src="{{main.logo}}" width="150" heidth="20" alt="Logo"> </a>
                    </div>
                    {% endif %}

                    <div class="uk-width-expand uk-text-center">
                        <a class="uk-link-reset" href="/"> <h2 class="uk-h2">{{main.name}}</h2> </a>
                    </div>

                    <div class="uk-width-auto uk-text-right">
                        <button class="uk-button uk-button-default" style="border:none" type="button" uk-toggle="target: #offcanvas-nav">
                            <span class=" uk-link-text">Мероприятия</span>
                        </button>


                        <div id="offcanvas-nav" uk-offcanvas="overlay: true; flip: true">
                            <div class="uk-offcanvas-bar">
                        
                                <ul class="uk-nav uk-nav-default">
                                    {% for event in all_events %}
                                        <li class="uk-active"><a href="/{{event.name}}/" class="uk-text-truncate" style="padding: 0 20px; margin: 20px 0">{{event.name}}</a></li>
                                    {% endfor %}
                                </ul>
                        
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </header>

        <main class="uk-margin-large" style="max-width: 2000px; margin: 0 auto">
            {% for event in events %}

            <h1 class="uk-width-3-5 uk-text-center uk-text-break" style="margin: 30px auto">{{event.name}}</h1>

            <div style="margin: 20px auto; width: 80%">

                <div
                    uk-slideshow="animation: push; ratio: 7:3; autoplay: true; pause-on-hover: true; min-height: 400px; max-height: 800px">

                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                        <ul class="uk-slideshow-items">

                        <li>
                            <img class="uk-img" src="{{event.mainImage}}" alt="" uk-cover>
                        </li>

                        {% for image in event.images %}

                            <li>
                                <img class="uk-img" src="{{image}}" alt="" uk-cover>

                            </li>

                        {% endfor %}

                        </ul>

                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                            uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                            uk-slideshow-item="next"></a>

                    </div>

                </div>
            </div>


            <div class="uk-width-3-4" style="margin: 0 auto">
                <h2>Описание</h2>
                <h3 class="uk-text-break">{{event.explanation}}</h3>
                 {% if  event.products %}
                <h3 class="uk-text-left">Так же могут быть интересны</h3>
                
                <div class="uk-container">
                    <ul class="events_list">

                        {% for item in event.products %}

                        
                           <li class="item">
                            <a href="#{{item.link}}" uk-toggle>
                                <div class="for-desktop">
                                    <div class="hov">
                                        <div class="btn red">
                                            Подробнее
                                        </div>
                                    </div>
                                </div>

                                <div
                                    class="img"
                                    style="background-image: url('{{item.mainImage}}'); background-position: center">
                                    <div class="status">
                                        <div class="uk-text-bold price for-desktop">
                                            От {{item.price}} руб.
                                        </div>
                                    </div>
                                </div>
                                <h2 class="uk-text-break">{{item.name}}</h2>
                                <div class="type">
                                </div>
                                <time class="place" datetime="2023-02-01T08:00:00+03:00">
                                    <br class="for-desktop">
                                    <span class="uk-text-trucate place-name">{{item.explanation}}</span>
                                </time>
                                <div class="mobile_btn for-mobile">
                                    <div class="btn">
                                        Заказать от {{item.price}} руб.
                                    </div>
                                </div>
                            </a>



                            <div id="{{item.link}}" uk-modal>
                                <div class="uk-modal-dialog modal-window">
                            
                                    <button class="uk-modal-close-default" type="button" uk-close></button>
                            
                                    <div class="uk-modal-header">
                                        <h2 class="uk-modal-title uk-text-break">{{item.name}}</h2>
                                    </div>
                            
                                    <div class="uk-modal-body" uk-overflow-auto>
                                        <h3 class="uk-visible@l">Описание</h3>
                                        <ul class="uk-nav-primary uk-hidden@l" uk-nav>
                                            <li class="uk-parent uk-active">
                                                <a href="#" class="padding: 0 20xp"> <h3>Описание</h3> <span uk-nav-parent-icon></span></a>
                                                <ul class="uk-nav-sub">
                                                    <p class="uk-text-break">{{item.explanation}}</p>
                                                </ul>
                                            </li>
                                        </ul>
                                        <p class="uk-text-break uk-visible@l">{{item.explanation}}</p>

                                        <div class="uk-position-relative" style="margin-bottom: 20px" uk-slideshow="animation: fade">
                                      
                                            <div class="uk-child-width-1-2" uk-grid uk-lightbox="animation: slide">
                                                <div>
                                                    <a class="uk-inline" href="{{item.mainImage}}">
                                                        <img src="{{item.mainImage}}" width="1800" height="1200" alt="">
                                                    </a>
                                                </div>
                                                {% for image in item.images %}
                                                <div>
                                                    <a class="uk-inline" href="{{image}}">
                                                        <img src="{{image}}" width="1800" height="1200" alt="">
                                                    </a>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <h4>Театические мероприятия</h4>
                                        {% for event in item.events %}
                                            <a class="uk-link-text" href="/{{event.name}}/"> 
                                                <p class="uk-text-truncate uk-text-light uk-text-muted"> ⇛ {{event.name}}</p>
                                            </a>
                                        {% endfor %}

                                    </div>
                            
                                    <div class="uk-modal-footer">
                                        <ul class="uk-nav-primary" uk-nav>
                                            <li class="uk-parent uk-active">
                                                <a href="#" class="padding: 0 20xp"> <h4>Оставить заявку</h4> <span uk-nav-parent-icon></span></a>
                                                <ul class="uk-nav-sub">
                                                    <form method="POST">
                                                        <fieldset class="uk-fieldset uk-flex-row uk-flex-middle uk-margin">
                                                                        
                                                            <div class="uk-margin">
                                                                <label>Имя</label>
                                                                <br>
                                                                <input class="uk-input uk-width-1" type="text" name="name" placeholder="Имя" aria-label="Имя">
                                                            </div>
                                                    
                                                            <div class="uk-margin">
                                                                <label>Телефон</label>
                                                                <br>
                                                                <input class="uk-input uk-width-1" name="phone" type="number" placeholder="Телефон"required>
                                                            </div>
                                
                                                            <div class="uk-margin">
                                                                <label>Товар</label>
                                                                <br>
                                                                <select class="uk-select uk-width-1" name="item" aria-label="Выьерите мероприятие">
                                                                    <option value="{{item.id}}|{{item.content_type}}">{{item.name}}</option>
                                                                </select>
                                                            </div>
                                                                        
                                                        </fieldset>
                                                        {% csrf_token %}
                                                        <button type="submit" name="requestButton" class="uk-button uk-button-danger uk-button-large uk-width-1 uk-text-bold" style="padding: 10px 0; background-color: #3bd9cc; color: black">Отправить</button>
                                                    </form>
                                                </ul>
                                            </li>
                                        </ul>
                                        
                                    </div>
                                </div>
                            </div>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

            {% endfor %}
        </main>

        <footer class="uk-section uk-section-secondary">

            <div class="formpole">
                <div>
                    <h1>Закажите у нас</h1>
                </div>
                <div>
                    <form method="POST">
                        <fieldset class="uk-fieldset">
                                        
                            <div class="uk-margin">
                                <label>Имя</label>
                                <br>
                                <input class="uk-input uk-form-width-large" type="text" name="name" placeholder="Имя" aria-label="Имя">
                            </div>
                    
                            <div class="uk-margin">
                                <label>Телефон</label>
                                <br>
                                <input class="uk-input uk-form-width-large" name="phone" type="number" placeholder="Телефон"required>
                            </div>

                            <div class="uk-margin">
                                <label>Мероприятие</label>
                                <br>
                                <select class="uk-select uk-form-width-large" name="item" aria-label="Выьерите мероприятие">
                                    <option disabled>-- Мероприятие --</option>
                                    {% for event in all_events %}
                                        <option value="{{event.id}}|{{event.content_type}}">{{event.name}}</option>
                                    {% endfor %}
                                    <option disabled>-- Товары --</option>
                                    {% for product in all_products %}
                                        <option value="{{product.id}}|{{product.content_type}}">{{product.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            {% csrf_token %}
                            <button type="submit" name="requestButton" class="uk-button uk-button-danger uk-button-large uk-width-1 uk-text-bold" style="padding: 10px 0;  background-color: #3bd9cc; color: black">Отправить</button>
                        </fieldset>
                    </form>
                </div>
            </div>
          
        </footer>

       
       
          <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit.min.js"></script>
        <script
            src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit-icons.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>

    </body>
</html>