{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <title>{{event.name}}</title>

        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/css/uikit.min.css"/>
            <link rel="stylesheet" href="{% static 'event-styles.css' %}">

    </head>

    <body>
        <header style="width: 95%; max-width: 2000px; margin: 0 auto">
            <div class="uk-container uk-container-expand" style="margin-top: 20px!important">

                <div class="uk-grid uk-grid-small uk-flex uk-flex-middle" uk-grid="uk-grid">

                    {% if main.logo %}
                    <div class="uk-width-auto">
                        <a class="uk-link-reset" href="/"> <img class="uk-logo" src="{{main.logo}}" width="150" heidth="20" alt="Logo"> </a>
                    </div>
                    {% endif %}

                    <div class="uk-width-expand uk-text-center">
                        <a class="uk-link-reset" href="/"> <h2 class="uk-h2">{{main.name}}</h2> </a>
                    </div>

                    <div class="uk-width-auto uk-text-right">
                        <button class="uk-button uk-button-default" style="border:none" type="button" uk-toggle="target: #offcanvas-nav">
                            <span class=" uk-link-text">Мероприятия</span>
                        </button>


                        <div id="offcanvas-nav" uk-offcanvas="overlay: true; flip: true">
                            <div class="uk-offcanvas-bar">
                        
                                <ul class="uk-nav uk-nav-default">
                                    {% for event in all_events %}
                                        <li class="uk-active"><a href="/{{event.name}}/" class="uk-text-truncate" style="padding: 0 20px; margin: 20px 0">{{event.name}}</a></li>
                                    {% endfor %}
                                </ul>
                        
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </header>
{% comment %}  {% endcomment %}
    {% for item in event %}
    <div class="uk-width-4-5" style="margin: 0  auto">

        <div style="margin:auto; width: 100%">

                <div
                    uk-slideshow="animation: push; ratio: 7:3; autoplay: true; pause-on-hover: true; min-height: 400px; max-height: 800px">

                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                        <ul class="uk-slideshow-items">
                            <li>
                                <img class="uk-img" src="{{item.mainImage}}" alt="" uk-cover>

                            </li>
                        {% for image in item.images %}
                            <li>
                                <img class="uk-img" src="{{image.url}}" alt="" uk-cover>

                            </li>
                        {% endfor %}

                        </ul>

                        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                            uk-slideshow-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                            uk-slideshow-item="next"></a>

                    </div>

                </div>
            </div>

        <div class="uk-text-left uk-margin-large-top">
                <h2>Описание</h2>

                <div class="uk-grid-small" uk-grid>
                    <div class="uk-width-1 uk-text-break"><p>{{item.explanation}}</p></div>
                </div>

        </div>
        <br>
        <br>

         <div class="uk-container">
                <ul class="events_list">

                    {% for item in products %}

                        <li class="item">
                            <a href="product/{{item.link}}/">
                                <div class="for-desktop">
                                    <div class="hov">
                                        <div class="btn red">
                                            Подробнее
                                        </div>
                                    </div>
                                </div>

                                <div
                                    class="img"
                                    style="background-image: url('{{item.mainImage}}'); background-position: center">
                                    <div class="status">
                                        <div class="uk-text-bold price for-desktop">
                                            От {{item.price}} руб.
                                        </div>
                                    </div>
                                </div>
                                <h2 class="uk-text-break">{{item.name}}</h2>
                                <div class="type">
                                </div>
                                <time class="place" datetime="2023-02-01T08:00:00+03:00">
                                    <br class="for-desktop">
                                    <span class="uk-text-trucate place-name">{{item.explanation}}</span>
                                </time>
                                <div class="mobile_btn for-mobile">
                                    <div class="btn">
                                        Заказать от {{item.price}} руб.
                                    </div>
                                </div>
                            </a>
                        </li>

                    {% endfor %}
                </ul>
            </div>

        <div>

            <br>
            <br>

            <div uk-grid>

                <div class="uk-width-2-5">

                    <div class="uk-text-center  uk-card uk-card-default"
                        style="position: sticky; top: 10px; border-radius: 20px; padding: 30px 0;">
                        
                        <div class="uk-margin-right uk-height-small">
                            <h3>{{item.rating}}</h3>
                            <p>На основании <br>{{item.rate_sum}} отзывов</p>
                            <div>
                                {% if item.flooredrating == 5 %}
                                &starf;&starf;&starf;&starf;&starf;
                                {% elif item.flooredrating == 4 %}
                                &starf;&starf;&starf;&starf;&star;
                                {% elif item.flooredrating == 3 %}
                                &starf;&starf;&starf;&star;&star;
                                {% elif item.flooredrating == 2 %}
                                &starf;&starf;&star;&star;&star;
                                {% elif item.flooredrating == 1 %}
                                &starf;&star;&star;&star;&star;
                                {% elif item.flooredrating == 0 %}
                                &star;&star;&star;&star;&star;
                                {% endif %}
                            </div>
                        </div>

                        <!-- comment form -->
                        <div>

                            <button style="color: white; background-color:#0A3644" class="uk-button uk-margin-small-bottom"
                                type="button" uk-toggle="target: #modal-example">Написать отзыв</button>     

                            <div id="modal-example" uk-modal>

                                <div class="uk-modal-dialog uk-modal-body">
                                    <h2 class="uk-modal-title">Отзыв</h2>
                                    <form method="POST" action="">
                                        <div class="uk-flex-row">
                                            <h3><i uk-tooltip="Это не обязательное поле, вы можете его не заполнять" uk-icon="warning"></i> Имя:</h3>
                                            <input maxlength="50" class="uk-input uk-form-width-large" type="text" name="name" placeholder="Это не обязательное поле, вы можете его не заполнять" aria-label="Имя">
                                        </div>
                                        <div class="uk-margin-top">
                                            <h3>Отзыв:</h3>
                                            <textarea class="uk-textarea" name="review" id="textbox" rows="10" style="width: 100%;" oninput="countCharacters()"
                                                maxlength="1500" required></textarea>
                                            <span class="uk-text-bold" id="char_count" style="color: green">1500/1500</span>
                                            <div class="uk-flex" style="margin-left: 45%">
                                                <p class="uk-margin-small-top uk-margin-small-right">Оценка: </p>
                                                <div class="uk-margin-remove-right rating-area">
                                                    <input type="radio" id="star-5" name="rating" value="5">
                                                    <label for="star-5" title="Оценка «5»"></label>
                                                    <input type="radio" id="star-4" name="rating" value="4">
                                                    <label for="star-4" title="Оценка «4»"></label>
                                                    <input type="radio" id="star-3" name="rating" value="3">
                                                    <label for="star-3" title="Оценка «3»"></label>
                                                    <input type="radio" id="star-2" name="rating" value="2">
                                                    <label for="star-2" title="Оценка «2»"></label>
                                                    <input type="radio" id="star-1" name="rating" value="1">
                                                    <label for="star-1" title="Оценка «1»"></label>
                                                </div>
                                            </div>
                                        </div>
                                        {% csrf_token %}
                                        <p class="uk-text-right">
                                            <button class="uk-button uk-button-default uk-modal-close"
                                                type="button">Закрыть</button>
                                            <button name="CommentEventBtn" class="uk-button uk-button-primary"
                                                type="submit">Опубликовать</button>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- output of comments -->
                <div class="uk-width-3-5">
                    <ul class="uk-comment-list">
                        {% for comment in item.comments %}
                        <li>
                            <article class="uk-comment uk-comment-primary uk-visible-toggle" tabindex="-1" role="comment">
                                <header class="uk-comment-header uk-position-relative">
                                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                                        <div class="uk-width-expand">
                                            <h4 class="uk-comment-title uk-margin-remove uk-text-truncate">{{comment.comentator}}</h4>
                                            <p class="uk-comment-meta uk-margin-remove-top">{{comment.getData}}</p>
                                        </div>
                                    </div>
                                </header>
                                <div class="uk-comment-body">
                                    <ul class="uk-nav-primary" uk-nav>
                                        {% if comment.review|length > 500 %}
                                        <li class="uk-parent uk-active">
                                            <a href="#"> Читать комментарий <span uk-nav-parent-icon></span></a>
                                            <ul class="uk-nav-sub">
                                                <p class="uk-text-break uk-text-small">{{comment.review}}</p>
                                            </ul>
                                        </li>
                                    </ul>
                                    {% else %}
                                        <p class="uk-text-break uk-text-small">{{ comment.review }}</p>
                                    {% endif %}
                                </div>
                            </article>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <footer class="uk-section uk-section-secondary" style="margin-top: 50px">

        <div class="formpole">
            <div>
                <h1>Закажите у нас</h1>
            </div>
            <div>
                <form method="POST">
                    <fieldset class="uk-fieldset">
                                    
                        <div class="uk-margin">
                            <label>Имя</label>
                            <br>
                            <input class="uk-input uk-form-width-large" type="text" name="name" placeholder="Имя" aria-label="Имя">
                        </div>
                
                        <div class="uk-margin">
                            <label>Телефон</label>
                            <br>
                            <input class="uk-input uk-form-width-large" name="phone" type="number" placeholder="Телефон"required>
                        </div>

                        <div class="uk-margin">
                            <label>Мероприятие</label>
                            <br>
                            <select class="uk-select uk-form-width-large" name="item" aria-label="Выьерите мероприятие">
                                <option disabled>-- Мероприятие --</option>
                                {% for event in all_events %}
                                    <option value="{{event.id}}|{{event.content_type}}">{{event.name}}</option>
                                {% endfor %}
                                <option disabled>-- Товары --</option>
                                {% for product in all_products %}
                                    <option value="{{product.id}}|{{product.content_type}}">{{product.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        {% csrf_token %}
                        <button type="submit" name="requestButton" class="uk-button uk-button-danger uk-button-large uk-width-1 uk-text-bold" style="padding: 10px 0;  background-color: #3bd9cc; color: black">Отправить</button>
                    </fieldset>
                </form>
            </div>
        </div>
        
    </footer>

       
       
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.24/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <script>
        const imgs = document.querySelectorAll('.img-select a');
        const imgBtns = [...imgs];
        let imgId = 1;

        imgBtns.forEach((imgItem) => {
            imgItem.addEventListener('click', (event) => {
                event.preventDefault();
                imgId = imgItem.dataset.id;
                slideImage();
            });
        });

        function slideImage(){
            const displayWidth = document.querySelector('.img-showcase img:first-child').clientWidth;

            document.querySelector('.img-showcase').style.transform = `translateX(${- (imgId) * displayWidth}px)`;
        }

        window.addEventListener('resize', slideImage);

        let textArea = document.getElementById("textbox");
        let characterCounter = document.getElementById("char_count");
        const maxNumOfChars = 1500;
        const countCharacters = () => {
            let numOfEnteredChars = textArea.value.length;
            let counter = maxNumOfChars - numOfEnteredChars;
            characterCounter.textContent = counter + "/1500";
            if (counter <=  20) {
                characterCounter.style.color = "red";
            } else if (counter < 200) {
                characterCounter.style.color = "orange";
            } else {
                characterCounter.style.color = "green";
            }
        };

    </script>
    </body>
</html>